@import "tailwindcss";

@theme {
  /* --- WARNA UTAMA LCO (BRAND) --- */
  --color-lco-teal: #49bfb4;
  --color-lco-green: #124540;
  --color-lco-green-hover: #0d332f;

  /* --- WARNA KOMBINASI / AKSEN TAMBAHAN --- */
  --color-lco-coral: #f4435e;
  --color-lco-mustard: #E45742;
}

/* 
  Aturan dasar untuk body 
*/
@layer base {
  body {
    @apply bg-zinc-100 text-zinc-900;
  }
  
  /* Mode Gelap otomatis mengikuti sistem atau class */
  .dark body {
    @apply bg-zinc-950 text-zinc-100;
  }
}

/* 
  CATATAN PENTING DARI PRD:
  Tidak boleh ada @media print global di sini karena struk akan 
  dicetak via iframe tersembunyi.
*/